// Sunshine
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/sunshine
// License:  https://github.com/jackryanoracoy/sunshine/blob/master/LICENSE.txt

@use '../setting' as *;

/*--------------------------------------------------------------
 Custom Properties (CSS Varialbles)
--------------------------------------------------------------*/

:root {

  /* theme color */
  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  /* color */
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  /* grey */
  @each $shade, $value in $greys {
    --grey-#{$shade}: #{$value};
  }

  /* Transition */
  --transition: meta.inspect($transition);

  /* font-family */
  --font-family-sans-serif: meta.inspect($font-primary);
  --font-family-monospace: meta.inspect($monospace);
}
