// Sunshine
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/sunshine
// License:  https://github.com/jackryanoracoy/sunshine/blob/master/LICENSE.txt

@use "../setting" as *;

/*--------------------------------------------------
  Disyplay
--------------------------------------------------*/

.u-inline { display: inline; }
.u-block { display: block; }
.u-inline-block { display: inline-block; }
